.mat-toolbar {
  background: transparent;

  h5.sub-head {
    font-size: .75rem;
  }
}

section {
  margin-top: 1rem;
}

.survey-meta {
  margin-left: 1rem;
  margin-top: 0;
}

.survey-section-header {
  align-items: center;
}
