<mat-toolbar>
  <mat-toolbar-row>
    <h1 class="flex-fill">
      <mat-form-field class="fill">
        <input matInput
               [placeholder]="survey.name ? '' : 'Survey Name'"
               [(ngModel)]="survey.name"
               (change)="editField('name', $event.target.value)">
      </mat-form-field>
    </h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h5 class="sub-head">Permalink: {{ surveyLink }}</h5>
  </mat-toolbar-row>
</mat-toolbar>
<app-survey-meta-edit class="survey-meta"
                      (editSurveyFieldEvent)="editField($event.field, $event.value)"
                      [survey]="survey"></app-survey-meta-edit>
<app-survey-section-toolbar (addSection)="addSection($event)"></app-survey-section-toolbar>
<app-section-panels (editSectionFieldEvent)="editSectionField($event.id, $event.field, $event.value)"
                    [survey]="survey"></app-section-panels>
