mat-toolbar-row:nth-child(n+2) {
  height: 2rem;
}

.mat-toolbar {
  background: transparent;

  h5.sub-head {
    font-size: .75rem;

    mat-icon {
      height: auto;
      width: auto;
      font-size: inherit;
    }
  }
}

section {
  margin-top: 1rem;
}

.survey-meta {
  margin-left: 1rem;
  margin-top: 0;
}

.survey-section-header {
  align-items: center;
}

a {
  color: black;
  padding-left: 1rem;
}
