<mat-accordion>
  <mat-expansion-panel *ngFor="let section of survey.sections">
    <mat-expansion-panel-header class="v-center">
      <mat-panel-title>
        <mat-form-field>
          <input matInput
                 [placeholder]="section.name ? '' : 'Section Name'"
                 [(ngModel)]="section.name"
                 (change)="editSectionField(section.id, 'name', $event.target.value)">
        </mat-form-field>
      </mat-panel-title>
      <mat-panel-description>
        {{ section.type }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="section-edit" [ngSwitch]="section.type">
      <app-question-section-edit *ngSwitchCase="'question'"
                                 [surveyId]="survey.id"
                                 [section]="section"
      ></app-question-section-edit>
    </div>
  </mat-expansion-panel>
</mat-accordion>
