<mat-form-field>
  <input matInput
         placeholder="Question"
         value="{{section.question}}"
          (change)="editSectionField('question', $event.target.value)">
</mat-form-field>
<mat-toolbar>
  <h3>
    Answers
  </h3>
  <span class="spacer"></span>
  <button mat-icon-button (click)="addAnswer()" aria-label="Add Section">
    <mat-icon>playlist_add</mat-icon>
  </button>
</mat-toolbar>
<mat-list class="input-list">
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let answer of answers; let i = index">
    <mat-form-field class="answer-input">
      <input matInput
             [placeholder]="'Answer ' + (i+1)"
             value="{{answer.text}}"
             (change)="editAnswerField(answer.id, 'text', $event.target.value)">
    </mat-form-field>
    <button mat-button
            [color]="section.correctAnswer === answer.id ? 'primary' : 'error'"
            (click)="makeCorrect(answer.id)">
      {{ section.correctAnswer === answer.id ? "Correct" : "Incorrect" }}
    </button>
  </mat-list-item>
</mat-list>
