/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.spacer {
  flex: 1 1 auto;
}

.flex-fill {
  flex: 1
}

.fill {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

mat-expansion-panel-header.v-center > .mat-content {
  align-items: center;
}
