<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpen" class="mat-elevation-z5">
    <div class="survey-side-nav">
      <button color="primary"
              mat-icon-button
              (click)="createSurvey()"
              aria-label="Create Survey">
        <mat-icon>add_circle</mat-icon>
      </button>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let survey of surveys">
          <a [routerLink]="surveyLink(survey)">{{ survey.name }}</a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-survey-editor *ngIf="selectedSurvey"
                       [survey]="selectedSurvey"></app-survey-editor>
  </mat-sidenav-content>
</mat-sidenav-container>

