.mat-toolbar {
  background: transparent;

  h5.sub-head {
    font-size: .75rem;
  }
}

div {
  display: flex;

  > aside, section {
    display: flex;
    flex-direction: column;
  }

  > aside {
    align-items: center;
  }

  > section {
    flex: 1;
  }
}
