.mat-toolbar {
  background: transparent;

  h5.sub-head {
    font-size: .75rem;
  }
}

mat-sidenav-container {
  display: flex;

  > mat-sidenav, mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }

  > mat-sidenav {
    .survey-side-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  > mat-sidenav-content {
    flex: 1;
  }
}
