<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpen" class="mat-elevation-z5">
    <div class="survey-side-nav">
      <button color="primary"
              mat-icon-button
              (click)="createSurvey()"
              aria-label="Create Survey">
        <mat-icon>add_circle</mat-icon>
      </button>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let survey of surveys">
          <a [routerLink]="surveyLink(survey)">{{ survey.name }}</a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="selectedSurvey">
      <mat-toolbar-row>
        <h1 class="flex-fill">
          <mat-form-field class="fill">
            <input matInput
                   [placeholder]="selectedSurvey.name ? '' : 'Survey Name'"
                   [(ngModel)]="selectedSurvey.name"
                   (change)="editField('name', $event.target.value)">
          </mat-form-field>
        </h1>
        <span class="spacer"></span>
        <button mat-icon-button [mat-menu-trigger-for]="addSectionMenu" aria-label="Add Section">
          <mat-icon>playlist_add</mat-icon>
        </button>
        <mat-menu #addSectionMenu="matMenu">
          <button mat-menu-item
                  (click)="addQuestionSection()">
            Question
          </button>
        </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row class="info">
        <h5 class="sub-head flex-fill">
          <span>Slug:&nbsp;</span>
          <mat-form-field class="fill">
            <input matInput
                   [placeholder]="selectedSurvey.slug ? '' : 'survey-slug'"
                   [(ngModel)]="selectedSurvey.slug"
                   (change)="editField('slug', $event.target.value)">
          </mat-form-field>
        </h5>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h5 class="sub-head">Permalink: {{ selectedSurveyLink }}</h5>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="survey-meta" *ngIf="selectedSurvey">
      <mat-form-field>
        <input matInput
               [(ngModel)]="selectedSurvey.startDate"
               [matDatepicker]="startDatePicker"
               (dateChange)="editField('startDate', $event.value)"
               placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      &nbsp;&mdash;&nbsp;
      <mat-form-field>
        <input matInput
               [(ngModel)]="selectedSurvey.endDate"
               [matDatepicker]="endDatePicker"
               (dateChange)="editField('endDate', $event.value)"
               placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </section>
    <section class="survey-sections" *ngIf="selectedSurvey">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let section of selectedSurvey.sections">
          <mat-expansion-panel-header class="v-center">
            <mat-panel-title>
              <mat-form-field>
                <input matInput
                       [placeholder]="section.name ? '' : 'Section Name'"
                       [(ngModel)]="section.name"
                       (change)="editSectionField(section.id, 'name', $event.target.value)">
              </mat-form-field>
            </mat-panel-title>
            <mat-panel-description>
              {{ section.type }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="section-edit" [ngSwitch]="section.type">
            <app-question-section-edit *ngSwitchCase="'question'"
                                       [surveyId]="selectedSurvey.id"
                                       [section]="section"
            ></app-question-section-edit>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>

